/*
  Component: .multiples-card
  Description: Styles a container for description
*/
.multiples-card {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__title {
    font-weight: 600;
    margin: 0;
  }

  &__description {
    width: 90%;
    margin: 5px 0 0 0;
  }

  &__help {
    display: flex;
  }

  &__form {
    margin-top: 1.25rem;
  }

  &__input-group {
    display: flex;
    gap: 0.25rem;
  }

  &__input {
    width: 100%;
  }
}

/*
  Component: .information-card
  Description: Styles a container for information card (box color of multiples)
*/
.information-card {
  margin: 1.5rem 0;

  &__colors {
    margin-top: 0.5rem;

    &-info {
      margin-bottom: 0.5rem;
    }
  }

  &__color {
    &-list {
      display: flex;
      gap: 0.25rem;
    }

    &-box {
      display: grid;
      place-items: center;
      border-radius: 4px;
      width: 25px;
      height: 25px;
      background: black;
    }
  }

  &__text {
    margin-top: 1rem;
  }
}

/*
  Component: .results-card
  Description: Styles a container for result and display range of numbers
*/
.results-card {
  margin: 1.5rem 0;

  &__data {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem 0.25rem;
    flex-wrap: wrap;
  }
}

/*
  Component: .extra-information-card
  Description: Styles a container for display accordions with data group of multiples number
*/
.extra-information-card {
  margin: 1.5rem 0;

  &__accordion {
    margin-top: 1rem;
  }
}

/*
  Component: ion-modal
  Description: custom styles for modal ionic
*/
ion-modal {
  --height: 50%;
  --border-radius: 8px;
  --box-shadow: var(--ion-shadow-color);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}