# ======================== SYSTEM FILES ========================
# macOS
.DS_Store

# Windows
Thumbs.db

# ===================== IDEs AND EDITORS ========================
# JetBrains IDEs (e.g., IntelliJ, WebStorm)
.idea/

# Eclipse
.project
.classpath

# Cloud9
.c9/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# ========================== LOGS ==============================
# Logs
*.log
log.txt
npm-debug.log
yarn-error.log

# Misc log files
libpeerconnection.log
testem.log

# ===================== TEMPORARY FILES ========================
# Temporary files
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate

# ====================== SYSTEM FOLDERS ========================
# Windows Recycle Bin
$RECYCLE.BIN/

# ==================== NODE MODULES ============================
# Node.js
/node_modules

# ======================== BUILD OUTPUT ========================
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# ======================== COVERAGE ============================
# Coverage reports
/.sourcemaps
/.versions
/coverage

# ======================== IONIC ==============================
# Ionic specific folders
/.ionic
/www
/platforms
/plugins

# ===================== FRAMEWORKS AND TOOLS ====================
# Angular
/.angular
/.angular/cache

# NX
/.nx
/.nx/cache

# Firebase
/.firebase
.firebaserc

# ====================== MISCELLANEOUS =========================
# Miscellaneous files
.sass-cache/
.connect.lock
/typings

# ======================== OTHER ================================
# Firebase
/.firebase
